

.topnav {
  overflow: hidden;
  background-color: #333;

  a {
    float: left;
    color: bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &:hover {
      background-color: #ddd;
      color: black;
    }

    &.active {
      background-color: chartreuse;
      color: white;
    }
  }

}

.example-form-field {
  margin-right: 20px;
}

input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  &.ng-valid.ng-touched {
    border: 1px solid green;
  }
}
